.backgroundImg {
    width: 390px;
    height: 390px;
    position: absolute;
    left: 25px;
    z-index: -1;
    bottom: 240px;
}

.mainBlock {
    margin: 48px auto 80px auto;
}

.mainWrap {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.mainWrap div:last-child {
    width: 100%;
}

.navigationBar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;
    width: 274px;
}

.navigationBar > h1 {
    cursor: pointer;
}